<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="7.0607" targetFramework="net35" requireReinstallation="true" />
  <package id="log4net" version="2.0.5" targetFramework="net35" requireReinstallation="true" />
  <package id="Spell.Check" version="4.0.3.2" targetFramework="net45" />
</packages>