.rightArea
{
	width: 150px;
	height: 820px;
}


ul.sortable li {
	position: relative;
}

ul.boxy {
	list-style-type: none;
	padding: 0px;
	margin: 2px;
	width: 10em;
	font-size: 13px;
	font-family: Arial, sans-serif;
	/*
    border: 1px solid #ccc;
	*/
}

ul.boxy li 
{
	position: relative;
	cursor:move;
	padding-top: 2px;
	padding-bottom: 2px;
	width: auto;
}

table.sortArea
{
	border: 1px solid #ccc;
}
.fromAbove
{
	padding: 2px 2px;
	border: 1px solid #ccc;	
	background-color: #eee;
}

table.indexTable td
{
	padding:0px;}
	
.sortArea ul {min-height:800px;height:auto !important;height:800px;}

#column1,
#column2,
#column3,
#column4,
#column5 {min-height:800px;height:auto !important;height:800px;}